@import '../../mixins';

.wrapper-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h1 {
        width: 100%;
        text-align: center;
    }

    h4 {
        margin-bottom: 0;
    }

    .product-card {
        width: 40%;
        margin: 2%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h3 {
            text-align: center;
            color: #1D4456;
            margin-bottom: 0;
        }

        p {
            text-align: center;
            color: #9D9C9C;
            display: flex;
        }

        .wrapper-img {
            height: 80px;
            width: 120px;
            overflow: hidden;
            position: relative;

            @media(min-width:768px) {
                width: 100%;
                height: 300px
            }

            img {
                width: 100%;
                height: auto;
                display: block;
                position: absolute;

                @media(min-width:768px) {
                    top: -60px;
                }
            }
        }

        .heart {
            position: absolute;
            top: 2%;
            right: 15%;
            padding: 0.35rem;
            font-size: rem(12);
            background: #fff;
            cursor: pointer;
            border-radius: 50%;
            @include transition(all,0.3s,ease-in-out);

            @media(min-width:768px) {
                font-size: rem(25);
                padding: rem(8);
                right: 3%;
            }

        }

    }
}