@import '../../_mixins.scss';

.pop-message {
    font-size: rem(30);
    background:#000;
    position: fixed;
    right: 0;
    top:100px;
    padding: rem(32);
    display: flex;
    align-items: center;
    text-align: center;
    color:white;
    @include translate(3000px, 0);

    &.show {
        animation:appearing 3s ease-in-out alternate forwards;

        @keyframes appearing {
            0% {
                @include translate(3000px, 0);
            }

            10% {
                @include translate(0, 0);
            }

            50% {
                @include translate(0, 0);
            }

            80% {
                @include translate(0, 0);
            }

            100% {
                @include translate(3000px, 0); 
            }
        }
    }
}