@import '../../_mixins.scss';

.form-create {
    max-width: 80%;
    padding: rem(16);

    @media(min-width:768px) {
        margin: 0 auto;
    }

    label {
        display: block;
        width:100%;
        margin: rem(16) 0;
    }

    input {
        display: block;
        width:100%;
        min-height: 30px;
        border:none;
        background:#e6e6e6;
        border-radius: 5px;
        padding: rem(16);
    }

    button {
        margin-top: rem(32);
        border: none;
        padding: rem(16);
        font-weight: bold;
        background-color: #000;
        color:#fff;
        cursor: pointer;
    }
}

.error-message {
    max-width: 800px;
    margin:rem(16) auto;
    background:tomato;
    padding: rem(16) rem(8);
    color:rgb(73, 2, 2);
    text-align: center;
}