@import '../../../_mixins.scss';

.paginator {
    width: 80%;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding: 0.5rem 0;
    margin-bottom: 2rem;

    ul {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0;

        li {
            margin:0 rem(12);
            color:#9D9C9C;

            &.active, &.arrow {
                color:black;
            }
            
        }
    }
}