$f-base: 16;

@function rem($size) {
    @return #{$size / $f-base}rem;
}

@mixin translate($medidaX, $medidaY) {
    -moz-transform: translateX($medidaX) translateY($medidaY);
    -webkit-transform: translateX($medidaX) translateY($medidaY);
    -o-transform: translateX($medidaX) translateY($medidaY);
    -ms-transform: translateX($medidaX) translateY($medidaY);
    transform: translateX($medidaX) translateY($medidaY);
}

@mixin rotate($degrees) {
    -moz-transform: rotate($degrees);
-webkit-transform: rotate($degrees);
-o-transform: rotate($degrees);
-ms-transform: rotate($degrees);
transform: rotate($degrees);
}

@mixin transition($property, $duration, $function) {
    -webkit-transition: $property $duration $function;
-moz-transition: $property $duration $function;
-ms-transition: $property $duration $function;
-o-transition: $property $duration $function;
transition: $property $duration $function;
}

