.App {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}