@import '../../../mixins';

.products-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: rem(32) rem(16) 0 rem(16);
    height: 35px;
    border-bottom: 1px solid lightgrey;

    i {
        color:#828282;
        font-size: rem(20)
    }

    .inner-menu {
        i {
            border-left: 1px solid lightgrey;
            padding: rem(16);
        }
    }
}