@import '../../../_mixins.scss';

.wrapper-select {
    width: 100%;
    display: flex;
    position: relative;

    @media(min-width:768px) {
        justify-content: center;
    }

}

.select {
    padding: 1rem 0.2rem;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    position: relative;
    margin-bottom: 2rem;
    align-self: flex-start;
    max-height: 200px;


    ul {
        list-style: none;
        padding: 0;
        margin: 0 1rem;

        li {
            cursor: pointer;

            i {
                display: inline-block;
                font-size: 30px;
                vertical-align: middle;
            }
        }

        ul {
            display: none;
            padding: 0;
            padding: 1rem;
            margin: 0;
            position: absolute;
            background-color: #fff;
            top: 100%;
            height: auto;
            width: 80%;
            z-index: 1;
            left: 0;

            li {
                margin: 1rem 0;
                font-style: italic;

                i {
                    display: inline-block;
                    font-size: 30px;
                }
            }
        }

        &.open {
            li {
                i {
                    @include rotate(180deg);
                    @include transition(all, 0.3s, ease-in-out);
                }
            }

            ul {
                display: block;
            }
        }
    }
}