@import '../../_mixins.scss';

.menu {
    background:#000;
    padding: 1.5rem;

    ul {
        list-style: none;
        padding: 0;
        display: flex;

        li {
            margin:0 rem(16);
            width:30%;

            &:first-child {
                margin-left: 0;
            }

            a {
                color:#fff;
                text-decoration: none;
                font-size: rem(17);

                @media(min-width:768px) {
                    font-size:rem(22);
                }
            }
        }
    }
}